/*Primero Mobil*/

.main-footer{
    background: #151515;
    color: white;
    padding: 30px 20px;
}
.footer__title{
    border-bottom: 1px solid #555555;
    padding-bottom: 20px;
}
.footer__txt{
    color: #555555;
}
.footer__link{
    color: #555555;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}
.footer__input{
    background: #15151515;
    width: 100%;
    display: block;
    padding: 20px;
    border: 1px solid #555555;
}
.copy{
    color: #555555;
    border-top: 1px solid #555555;
    padding: 20px 0;
    text-align: center;
}

/*Formulario*/
.form {
    width: 250px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 10%;
    gap: 20px;
    border-radius: 10px;
    padding: 20px 40px;
    background-color: rgba(245, 245, 245, 0.034);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.192);
    transition: .2s linear;
}
.form button {
    align-self: flex-end;
}
.form:hover {
    transform: scale(1.1);
}
.label {
    font-size: 14px;
    margin-bottom: -10.6px;
}
.input {
    height: 25px;
    width: 100%;
    border: 0.5px solid white;
    background-color: transparent;
    color: white;
    padding: 5px;
    border-radius: 5px;
    transition: .2s linear;
    position: relative;
}
.textarea{
    height: 100px;
}
.input:focus {
    outline: none;
    background-color: rgba(173, 173, 173, 0.233);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.137);
}
button{
    font-size: 18px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #e4812f 0%, #f86227 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}
button:hover {
box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
transform: translateY(-0.1em);
}
button:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
    transform: translateY(0em);
}
